.Tricouri{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.TricouCard{
    border-style: solid;
    border-radius: 12px;
    width: 230px;
    overflow: hidden;
    border-color: rgb(255, 255, 255);
    padding: 40px;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

.TricouCard:hover{
    box-shadow: 5px 5px 7px rgba(255,255,255,40%);

}

.Imagine-Tricou{
    width: 100%;
    background-color: white;
    height: 260px;
    transition: transform 0.3s ease;

}


.TricouCard:hover .Imagine-Tricou{
    transform: scale(1.1);


}


.Nume-Tricou {
    color: gray;
    font-family: "Arial";
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    margin: 10px 2px 5px 10px;
}

.Nume-Echipa{
    color:whitesmoke;
    font-size: 15px;
    text-align: left;
    margin: 0 0 2px 10px;
}

.Buton-Pret{
    width: 100%;
    padding: 10px;
    font-weight: 900;
    border-radius: 10px;
    margin: 10px 1px 2px 1px;
    word-spacing: 2px;
    transition: box-shadow 0.3s;
    display: flex;
    justify-content: center;
}


.Buton-Pret:hover{
    transition: background-color 0.3s , color 0.3s;
    color: gray;
    background-color: #e8e8e8;
    border: none;
    box-shadow: 5px 5px 7px rgba(255,255,255,0.2);
}



/*.editbuton{*/
/*    color: white;*/
/*    background-color: rgb(10,102,194);*/
/*    border-radius: 20px;*/
/*    margin: 15px;*/
/*    transition: background-color 0.15s , box-shadow 0.15s;*/
/*}*/

/*.editbuton:hover{*/
/*    background-color: dodgerblue;*/
/*    box-shadow: 8px 10px  rgba(0,0,0,0.15)  ;*/
/*}*/

/*.editbuton2:hover{*/
/*    background-color:rgb(10,102,194) ;*/
/*    color: white;*/


/*}*/

/*.editbuton2{*/
/*    color: rgb(10,102,194);*/
/*    background-color: white;*/
/*    border-color: rgb(10,102,194);*/
/*    border-radius: 20px;*/
/*    transition: background-color 0.15s , color 0.15s;*/
/*}*/


/*.buton-fanis{*/
/*    color: rgb(0,113,133);*/
/*}*/

/*.buton-link{*/
/*    color: darkolivegreen;*/
/*    transition: color 0.15s;*/
/*}*/

/*.buton-link:hover{*/
/*    color:orange;*/

/*}*/

/*.greenParagraph{*/
/*    color: rgb(0,118,0);*/
/*}*/

